/*Normalize*/

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

/*'Pages'*/

.swiper-slide {
    height: 100vh;
    width: 100%;
}

.swiper-slide-1 {
    background-color: #2ecc71;
}

.swiper-slide-2 {
    background-color: #3498db;
}

.swiper-slide-3 {
    background-color: #8e44ad;
}

/*Typography*/
* {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    font-size: 3em;
    color: white;
    text-align: center;
    margin-top: 2em;
}