/*Normalize*/

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

/*'Pages'*/

.swiper-slide {
    /* height: 100vh; */
    width: 100%;
}

.swiper-slide-1 {
    background-color: #2ecc71;
}

.swiper-slide-2 {
    background-color: #3498db;
}

.swiper-slide-3 {
    background-color: #8e44ad;
}

/*Layout*/
.grid {
    padding: 1em;
}

.section-2 {
    display: none;
}

/*Typography*/
* {
    font-family: 'Open Sans', sans-serif;
    color: white;
}
h1 {
    font-size: 3em;
    /* color: white; */
    text-align: center;
    margin: 2em 0 1em 0;
}

/*Button*/

.button-container {
    margin: 1.5em;
    text-align: center;

}

.btn-toggle {
    transition: 250ms ease-in-out all;
    padding: 0.75em 1.35em;
    border-radius: 3em;
    border: none;
    background-color: #ecf0f1;
    font-size: 1.2em;
    box-shadow: 1px 1px 6px rgb(102, 102, 102);
}

.btn-toggle-pressed {
    box-shadow: none;
    transform: translateY(1px);
}

i {
    color: rgb(15, 15, 15);  
}